@import './colors.scss';
@import './settings';
@import './viewport';
@import './wrap';
@import './font-size.scss';
@import './heading';
@import './reset.scss';
@import './states.scss';

*{
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    text-size-adjust: 100%;
    @include viewport-phone {
      outline: none;
    }
}

body,
input,
textarea,
button,
select {
  font-family: $font-family;
}

a {
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
    height: unset !important;

    font-weight: 400;
    font-size: px-to-rem(16);
    line-height: 140%;
    color: var(--color-black);
    background-color: var(--color-white);

    &._lock {
        overflow: hidden;
    }
}

@mixin button { 
    position: relative;
    z-index: 0;

    max-width: px-to-rem(250);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: px-to-rem(50);
    padding: px-to-rem(10) px-to-rem(30);
    transition: background 0.3s ease;

    font-size: px-to-rem(16);
    line-height: 118.75%;
    font-weight: 400;
    
    color: var(--color-blue-200);
    background-color: var(--color-white);

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: -2;
    //     background: rgba(var(--color-text-secondary--rgb), 0.42);
    //     opacity: 0.2;
    //     filter: blur(13px);
    //     border-radius: px-to-rem(50);
    //     transition: opacity 0.3s ease;
    //     padding: px-to-rem(7) px-to-rem(9);
    // }
    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: -1;
    //     background: var(--color-button-active);
    //     border-radius: px-to-rem(50);

    //     transform: scaleX(0);
    //     transition: transform 0.3s ease;
    //     transform-origin: 50% 0;
    // }

    // &:hover,
    // &:focus-visible {

    //     &::before {
    //         opacity: 0;
    //     }
    //     &::after {
    //         transform: scaleX(1);
    //         //background-color: var(--color-button-active);
    //     }
    // }  
}

@mixin button-colored {
    @include reset-button;
    position: relative;
    display: inline-block;
    padding: px-to-rem(10) px-to-rem(20);
    overflow: hidden;
    transform: translateZ(0);
    line-height: 150%;
    color: currentColor;

    @include viewport-tablet-min {
        font-size: px-to-rem(16);
    }
    @include viewport-phone {
        font-size: px-to-rem(14);
    }

    @include non-mobile-hover {
        span {
            color: var(--color-white);

            svg {
                transform: rotate(180deg);
            }
        }
        

        &::after {
            transform: translate(0);
        }
    }

    &:focus-visible {
        span {
            color: var(--color-white);
        }
        &::after {
            transform: translate(0);
        }
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        z-index: 0;
        border: 1px solid currentColor;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        z-index: 1;
        background-color: currentColor;
        transform: translate(-100%, 0);
        transform-origin: 0;
        transition: transform 0.3s ease;
    }

    span {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        transition: color 0.3s ease;
        pointer-events: none;

        svg {
            width: 100%;
            height: auto;
            transition: transform 0.3s;
            transform-origin: center;

            @include viewport-tablet-min {
                max-width: px-to-rem(24);
                margin-left: px-to-rem(14);
            }
            @include viewport-phone {
                max-width: 18px;
                margin-left: px-to-rem(10);
            }

            path {
                stroke: currentColor;
                transition: stroke 0.3s ease;
            }
        }
    }
}

@mixin form-input-default {
    width: 100%;
    border: unset;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid var(--color-grey-200);
    background-color: transparent;
    padding: unset;
    
    transition: border 0.3s ease;
    
    font-weight: 400;
    color: var(--color-black);
    
    @include viewport-tablet-min {
        padding: px-to-rem(18) px-to-rem(14);
        font-size: px-to-rem(16);
    }
    
    @include viewport-phone {
        padding: px-to-rem(14) px-to-rem(12);
        font-size: px-to-rem(14);
    }

    &::placeholder {
        font-weight: 400;
        color: var(--color-grey-300);

        @include viewport-tablet-min {
            font-size: px-to-rem(16);
        }

        @include viewport-phone {
            font-size: px-to-rem(14);
        }
    }

    @at-root label.incorrect input {
        border-color: var(--color-error);
    }
}

@mixin form-input {
    width: 100%;
    border: unset;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid var(--color-blue-200);
    background-color: transparent;
    padding: unset;
    padding-top: 3px;

    transition: border 0.3s ease;

    font-weight: 400;
    color: var(--color-black);

    @include viewport-tablet-min {
        padding-bottom: px-to-rem(17);
        font-size: px-to-rem(24);
    }

    @include viewport-phone {
        padding-bottom: px-to-rem(8);
        font-size: px-to-rem(16);
    }

    &::placeholder {
        font-weight: 400;
        color: var(--color-grey-300);

        @include viewport-tablet-min {
            font-size: px-to-rem(24);
        }

        @include viewport-phone {
            font-size: px-to-rem(16);
        }
    }

    @at-root label.incorrect input {
        border-color: var(--color-error);
    }
}

._container {
    width: 100%;
    padding: 0 var(--wrap);
    margin: 0;
}

._inner__container {
    width: 100%;
    padding: 0 var(--wrap-1);
    margin: 0;
}

// ._container {
//     width: 100%;
//     margin: 0 auto;

//     @include viewport-desktop {
//         max-width: 1140px;
//     }
//     @include viewport-tablet {
//         max-width: 90%;
//     }
//     @include viewport-phone {
//         max-width: 90%;
//     }
// }

.custom-logo-link {
    display: block;
    max-width: px-to-rem(56);
    width: 100%;
    cursor: pointer;

    // @media screen and (max-width: 720px) {
    //     max-width: 144px;
    // }

    img,
    svg {
        width: 100%;
        height: auto;
    }
}

.custom-form-select {
    position: relative;

    border: unset;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid var(--color-text-secondary);

    transform: unset !important;

    font-family: $font-family;
    font-weight: 400;
    color: var(--color-black);

    @include viewport-tablet-min {
        font-size: px-to-rem(16);
    }
    
    @include viewport-phone {
        font-size: px-to-rem(14);
    }

    select {
        display: none;
    }

    .select-items div,
    .select-selected {
        position: relative;
        cursor: pointer;
    }
    
    .select-selected {
        //border-bottom: 1px solid var(--color-text-secondary);
        border: 1px solid var(--color-grey-200);
        background-color: var(--color-white);

        @include viewport-tablet-min {
            padding: px-to-rem(18) px-to-rem(14);
            font-size: px-to-rem(16);
        }
        
        @include viewport-phone {
            padding: px-to-rem(14) px-to-rem(12);
            font-size: px-to-rem(14);
        }

        &.select-arrow-active {
            border-bottom: none;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            width: px-to-rem(10);
            height: px-to-rem(10);

            background-image: url(../assets/img/components/arrow-select.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;

            transform: translate(0, -50%);
            transition: transform 0.3s ease;

            @include viewport-tablet-min {
                right: px-to-rem(14);
            }
            
            @include viewport-phone {
                right: px-to-rem(12);
            }

            @at-root .select-selected.select-arrow-active::before {
                transform: translate(0, -50%) rotate(180deg);
            }
        }
    }

    .select-items { 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 3;
        //border-radius: px-to-rem(20);
        border: 1px solid var(--color-grey-200);
        border-top: none;
        background-color: var(--color-white);
        overflow: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        &.select-hide {
            opacity: 0;
            visibility: hidden;
        }

        div {
            padding: px-to-rem(8);
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            transition: border 0.3s ease;

            &.same-as-selected {
                color: var(--color-blue-200);
                //border-color: var(--color-text-secondary);
                @include mobile-device {
                    background-color: var(--color-grey-010);
                }
            }
        }
    }

    .select-pointer {
        position: absolute;
        top: 0;
        left: 0;
        display: var(--mobile);
        width: 100%;
        height: px-to-rem(42);
        background-color: var(--color-grey-010);
        will-change: transform;

        @include viewport-tablet-max {
            display: none;
        }
    }

    //.select-items div:hover,
    .same-as-selected {
        color: var(--color-blue-200);
        //border-color: var(--color-text-secondary);
        //background-color: var(--color-button);
    }
}

._margin-top {
    @include viewport-desktop {
        margin-top: px-to-rem(100);
    }

    @include viewport-tablet {
        margin-top: px-to-rem(80);
    }

    @include viewport-phone {
        margin-top: px-to-rem(60);
    }
}

._inner {
    padding-top: px-to-rem(30);
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
